{% extends 'base.html' %}

{% block content %}
    <!--Filter Search-->
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-sm-7">
                <h1>Booking History</h1>
            </div>
            <div class="col-sm-5">
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
                    <button type="button" class="btn btn-outline-dark">Search</button>
                    <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <label for="exampleFilterSearch" class="form-label container m-0">Sort By</label>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">This Week</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">Newest to Oldest</a></li>
                        <li><a class="dropdown-item" href="#">Oldest to Newest</a></li>
                        <li><a class="dropdown-item" href="#">A to Z</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>  

    <!--Event Booking History Cards-->
    {% for booking in bookings %}
    <div class="eventbooking container-fluid border mb-4">
        <div class="row">
            <div class="col-sm-3">
                <a href="event_details.html"><img src="static/img/{{ booking.event_image }}" class="bookingpic img-fluid rounded-start" alt="{{ booking.event_name }}"></a>
            </div>
            <div class="col-sm-9">
                <div class="bookingdetails row">
                    <div class="eventname col-12 col-sm-6">
                        <h4><a href="event_details.html" class="titlelink">{{ booking.event_name }}</a></h4>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                            </svg>
                            {{ booking.event_location }}
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
                            </svg>
                            ${{ booking.event_price }}
                        </div>
                        <div class="mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-perforated-fill" viewBox="0 0 16 16">
                                <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6zm4-1v1h1v-1zm1 3v-1H4v1zm7 0v-1h-1v1zm-1-2h1v-1h-1zm-6 3H4v1h1zm7 1v-1h-1v1zm-7 1H4v1h1zm7 1v-1h-1v1zm-8 1v1h1v-1zm7 1h1v-1h-1z"/>
                            </svg>
                            {{ booking.ticket_quantity }}x {{ booking.ticket_name }}
                        </div>
                    </div>
                    <!--Event Date & Status-->
                    <div class="eventdate col-6 col-sm-3">
                        <h5 class="card-title">Event Date</h5>
                        <p class="card-text mb-0">{{ booking.event_date.strftime('%d %B, %Y') }}</p>
                        <p class="card-text">{{ booking.event_time.strftime('%I:%M %p') }} to {{ booking.event_end_time.strftime('%I:%M %p') }}</p>
                        <h5 class="card-title mb-2">Status</h5>
                        <p id="upcoming">{{ booking.status }}</p>
                    </div>
                    <!--Order ID-->
                    <div class="eventdate col-6 col-sm-3">
                        <h5 class="card-title">Order ID</h5>
                        <p>{{ booking.order_id }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!--Page Navigation-->
    <div class="pagenav">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                <a class="page-link text-muted" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                <li class="page-item"><a class="page-link text-muted" href="#">1</a></li>
                <li class="page-item"><a class="page-link text-muted" href="#">2</a></li>
                <li class="page-item"><a class="page-link text-muted" href="#">3</a></li>
                <li class="page-item">
                <a class="page-link text-muted" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}
